[2012-09-21 13:55] bflad opened #1 "Add Minitests"
Only stub minitest-handler files exist.

[2012-09-21 13:57] bflad opened #2 "TravisCI Integration"
http://travis-ci.org

[2012-09-21 13:58] bflad opened #3 "Upgrade recipe does not extract over installation"
remote_file works fine, however the execute block for extraction does not overwrite installation directory.

[2012-09-21 18:44] #2 closed, assigned to bflad

[2012-09-24 15:57] #3 closed, assigned to bflad

[2012-11-02 05:51] #1 closed, assigned to bflad

[2013-05-06 21:47] moserke opened #4 "Add LWRP for stash hooks and repositories"
LWRPs for interacting with the stash REST API for hooks and repositories should be added for ease of configuring stash in CD pipelines.

[2013-05-06 22:56] #4 closed, assigned to nobody

[2013-05-28 18:23] moserke opened #6 "Pull Request Settings Not Set"
When creating a new repo with the repo LWRP the pull request settings of number of approvers and number of builds is not set.

[2013-05-28 18:26] moserke opened #7 "Chef-vault installs over and over again"
Every time the LWRP is run it tries to install chef-vault

[2013-09-04 11:57] ramonskie opened #9 "isn't it better to use ark for downloading stash?"
why not use ark for downloading stash
seems much nicer then using this right?
https://github.com/bflad/chef-stash/blob/master/recipes/default.rb#L117

[2013-10-08 08:19] #9 closed, assigned to nobody

[2013-10-17 00:14] Demuxx opened #13 "Hash diff function broken"
chef-stash/libraries/helper.rb:107 is currently failing during run because it starts with a period. I think you meant to do 'self.merge!' instead of '.merge!'.

[2013-10-29 20:59] rimckenn opened #14 "Apache2 Gets Installed Regardless"
From the docs, the default stash recipe should configure Stash under Tomcat only, but the recipe includes the apache2 recipe so apache2 always ends up being installed.

[2013-10-31 12:12] sclausson opened #15 "Cannot find a resource matching java_ark[jdk]"
When trying to run the stash::upgrade recipe I am encountering this error.  I used the 2.16.0 version of the cookbook to install Stash, and am using cookbook version 2.21.0 for the upgrade.  I am trying to upgrade from Stash 2.6.3 to 2.8.1.

Thanks for the cookbook!

---

Cannot find a resource matching java_ark[jdk]
## Relevant File Content:

/var/chef/cache/cookbooks/stash/recipes/default.rb:

1

[2013-11-01 09:26] ramonskie opened #16 "first-time setup with database does not work"
i have 2 problems the first is
in this line of code
https://github.com/bflad/chef-stash/blob/master/templates/default/stash-config.properties.erb#L11

with

[code]

because this will use my mysql bind_address and this is 0.0.0.0
so anyone can connect.
and a application can't connect to a address called mysql://0.0.0.0
so i replaced this with localhost for now
maby i do something wrong i don't know

[2013-11-04 05:11] #14 closed, assigned to nobody

[2013-11-04 05:16] #13 closed, assigned to nobody

[2013-11-12 16:12] biddster opened #17 "stash.tar.gz unzip fails"
I'm running the stash cookbook 3.1.1 on a centos 6.4 x64 machine.

Every time it fails at the same point:

[code]

Upon further investigation it appears that the ark 'stash' unzip isn't happening.

[code]

Observations when I examine the stash box:
- stash.tar.gz is correctly downloaded to /var/chef/cache.
- /opt/atlassian/stash is symlinked to /opt/atlassian/stash-2.8.2
- both of the directories

[2013-11-14 12:27] biddster opened #18 "Selinux prevents apache from connecting to tomcat"
I'm performing a monolithic install of Stash on Centos6.4 x64. The Cookbook works great but once it's finished apache is unable to connect to tomcat.

I have to ssh to the stash server and issue:

[code]

No big deal to sort - but is there anything we can do in the cookbook?

I've checked the apache cookbook docs and they say that it's up to you to sort out selinux.

[2013-11-15 10:48] biddster opened #19 "Random hibernate exceptions giving me the 500 page"
I've installed a monolithic Stash stack on a single Centos 6.4 x64 virtual machine.

I get the Oops 500 page appearing randomly and I'm pretty sure I'm bumping into this bug.

https://confluence.atlassian.com/display/STASHKB/Connection+Timeout+with+MySQL+Database

The Stash connection pool timeout (default is 10 mins) is greater than the mysql cookbook wait_timeout (default 3 mins).

I've updated

[2013-11-18 02:17] #17 closed, assigned to nobody

[2013-11-18 02:23] #15 closed, assigned to nobody

[2013-11-18 05:00] #19 closed, assigned to bflad

[2014-01-05 20:01] #16 closed, assigned to nobody

[2014-03-15 20:17] bflad opened #24 "Add Chefspec matchers for LWRPs"
https://github.com/sethvargo/chefspec#packaging-custom-matchers

[2014-08-04 09:21] ramonskie opened #35 "stash 3.2 directories changed"
it seems that a upgrade to 3.2 changes the directories of config directories
see
https://confluence.atlassian.com/display/STASHKB/Upgrading+your+Stash+home+directory+for+Stash+3.2+manually

[2014-09-24 23:15] cstewart87 opened #38 "Setting LDAP configurations"
Are LDAP configurations something that can be handled by Chef?  I'm having troubles determining how those are persisted.  Is that information in the database, or in a configuration file located on the server?

[2014-10-06 02:49] #35 closed, assigned to nobody

[2014-10-17 08:11] ramonskie opened #40 "3.12.0 is not yet release to supermarket"
@bflad the 3.12.0 release is not released to supermarket...

[2014-10-21 01:14] #40 closed, assigned to nobody

[2014-11-07 03:30] linc01n opened #42 "all http auth not working when using apache (eg git clone)"
Reproduce steps:
====
using the following Vagrantfile changes

[code]

Add `192.168.50.10 stash-centos-http` to `/etc/hosts`

And run `vagrant up centos6`

Create a repo on `https://stash-centos-http`

When you do a `git clone -c http.sslVerify=false https://lincoln@stash-centos-http/scm/test/test.git`

It will give you `fatal: Authentication failed for 'https://lincoln@stash-centos-http/scm/test/

[2015-01-22 20:28] devployment opened #47 "Support Stash 3.6.0"
As Stash 3.6.0 is released it would be nice to be supported by the cookbook

[2015-01-23 01:45] #42 closed

[2015-01-23 02:09] bflad commented on #18
Resurrecting this old discussion. Has the Chef landscape changed here with respect to selinux handling?

[2015-01-23 02:10] bflad commented on #47
I'll take a look at this tonight -- thanks for the bump!

[2015-01-23 02:29] bflad opened #49 "Discussion: change default database to PostgreSQL?"
Up for discussion for next major release of the cookbook, but please see note at top of MySQL/MariaDB integration page: https://confluence.atlassian.com/display/STASH/Connecting+Stash+to+MySQL

Of course you can always keep using MySQL by setting the necessary database attributes/data bag items.

[2015-01-23 03:51] #47 closed

[2015-01-23 03:54] bflad commented on #47
Please note, you can always set the version attribute higher (and recommended checksum attribute) assuming there were no breaking changes.

[2015-01-23 09:41] ramonskie opened #55 "cookbook is broker because of no versionlock in metadata"
because there is no version lock in the meta data

and mysql and database have had some major overhaul
it does not work anymore

this can be fixed by setting the depend versions in the metadata
[code]

or use the latest mysql/datbaase cookbook (this require some small adjustments)
as i have done in https://github.com/ramonskie/bamboo/commit/5cbd9d03031ea5f6f0f07a6cbbcd5abf3f47d7a1

[2015-01-23 11:13] legal90 commented on #49
Yes, I think it's reasonable to use PostgreSQL by default in this cookbook.

By the way, I'm using PostgreSQL in my installation as well.

[2015-01-24 19:08] bflad commented on #38
@cstewart87 any luck diving into this more?

[2015-01-24 19:23] bflad commented on #55
Definitely sounds like a great idea. I think I'll lock to working mysql/database/postgresql versions in 3.x of the cookbook and create an issue to upgrade to latest versions for 4.x of the cookbook.

[2015-01-24 19:24] bflad opened #58 "Upgrade database/mysql/postgresql dependencies as necessary"
For 4.x release.

[2015-01-24 20:17] #55 closed

[2015-01-26 06:42] linc01n commented on #49
I :+1: changing the default to postgresql.

I am using postgresql for my production stash as well.

[2015-01-26 22:37] iiro commented on #14
We are also using Stash without any HTTPD in front as Stash is behind a load balancer which does SSL offloading as well. Is there a possibility to use the cookbook without Apache...?

[2015-01-26 22:40] iiro opened #63 "Support for Stash DIY backup - maybe?"
Hi,

have you noticed this one: https://confluence.atlassian.com/display/STASH/Using+Stash+DIY+Backup?

We're using the Atlassian's example to do (practically) online backups from Stash - as we want to keep our repos online as much as possible.

Just letting you know about this if you would see it beneficial too in your cookbook setup (and maybe in your setup).

PS. Excellent stuff you have done!

[2015-01-27 06:47] devployment opened #64 "Running with chef solo?"
Not an issue in the cookbook I think. I'm currently trying to get familiar with Chef and thought this here might be a good exercise. Everything works as I try in with Vagrant in my local machine.

But if I try to run it on a "real" machine I'm struggling to overwrite the attribute values. Tried a `solo.json ` file where I added the database configuration to use postgresql. This was passed in by -j

[2015-01-27 08:19] devployment commented on #64
Have to add that I'm using the current ChefDK. Maybe there's something wrong with their chef version or ruby version.

[2015-01-27 09:03] linc01n commented on #64
I'm running this cookbook with chef-solo without any problem. I use knife-solo as a tools. So I don't need to touch the `solo.json`

[2015-01-27 09:14] devployment commented on #64
Ok. Maybe I'm doing it just wrong. But good to know that it works if done properly. :)

It's not part of this project or repository but would you mind to provide just a few points bullet list to get this initially running with chef/knife solo?

I'm going back learning the basics in the meantime.

[2015-01-27 09:33] linc01n commented on #64
You don't need ChefDK at all unless you are developing cookbook.

I had a presentation slide on how to use knife-solo in 2013. You can take a look.

http://chef-solo-intro.lincoln.hk/

[2015-01-30 06:23] devployment commented on #64
I think I figured out most of the things. Thanks for the help. :+1:

[2015-01-30 06:23] #64 closed

[2015-01-30 06:44] devployment opened #67 "service stash start|restart|stop|status not working on CentOS 7"
After successful installation on a CentOS 7 box I cannot control stash by `service` command.
The script is created with `node['platform_family'] = "rhel"` and looks valid. If I start stash manually it works as expected. It's only the service script that doesn't work.

Here the output of the service commands

[code]

[code]

[code]

[2015-02-02 16:16] legal90 commented on #63
I'm going to implement it soon and will send a pull request here.

As I see, there will be some backward incompatible changes, for example moving some 'backup_client' attributes to the common space like 'backup'.

[2015-02-10 01:43] linc01n opened #69 "Missing mysql-chef_gem cookbook"
Since we didn't lock `database` cookbook, `database` cookbook version now is  4.0.1.

From 2.3.1 to 3.0.0 (https://github.com/opscode-cookbooks/database/compare/v2.3.1...v3.0.0#diff-9fd042d4cd1e8f82894bbd7dffb313ecL19), it changed the dependency of the cookbook.

Somehow running `vagrant provision centos6` in development it will throw error on  `could not find recipe mysql for cookbook database`

[2015-02-11 05:52] #69 closed

[2015-02-26 07:51] linc01n commented on #67
Confirmed. It fails to restart during kitchen test.

[code]

[2015-03-17 16:20] #67 closed

[2015-04-24 03:54] linc01n opened #84 "Stash Crashes Due to java.lang.OutOfMemoryError PermGen Space Error"
I have this issue twice after I upgraded my Stash to 3.8.0 4 days ago. The solution is to increase

[code]

I am still testing how many ram should I increase

From Stash Knowledge base:

![screen shot 2015-04-24 at 11 43 32 am](https://cloud.githubusercontent.com/assets/667272/7312015/2b8bbe2e-ea77-11e4-917f-cba5a03882ff.png)

source: https://confluence.atlassian.com/display/STASHKB/Stash+Crashes+

[2015-04-24 11:01] bflad commented on #84
Seems reasonable to me to change the settings based on the newer default configuration file.

[2015-05-26 16:25] drrk opened #85 "Recipe doesn't install java"
Even though the cookbook depends on the java cookbook, and the testing recipe include the java cookbook default recipe, the main cookbook doesn't install java, but depends on java to be installed.

[2015-05-28 03:31] linc01n commented on #85
The java cookbook let you install 2 flavor of java. openjdk and the proprietary one. Which one you think we should include?

[2015-06-14 12:08] mrjcleaver commented on #49
+1

[2015-06-14 14:57] mrjcleaver opened #86 "Vagrant failed for Ubuntu 1404 install"
I've tried this on two Macs. Maybe the issue is a transient network matter, but I thought I should lodge it.

For comparison, the Centos7 vagrant install works fine. The Debian one also has problems, I will post a separate issue.

[code]

[2015-06-14 15:16] mrjcleaver commented on #86
Tried for the Ubuntu 1202 install. For that I found http://ubuntuforums.org/showthread.php?t=2196376 where: "It appears you need to update the package list to get the current list of packages. Enter this command in a terminal"
[code]

(in progress)

[2015-06-14 16:05] mrjcleaver commented on #86
Confirmed. This workaround fixes it for both the Ubuntu 1202 and 1404 installs.

Interestingly, for both installs, I had to provision twice because of this intermittent error:
[code]

For that maybe my ISP is having a bad day...

[2015-06-16 02:43] linc01n commented on #86
Hi @mrjcleaver ,

When I do testing on the vagrant image, I usually self-host those atlassian's related archives using `python -m SimpleHTTPServer` . Since I would fail multiple times if I don't do that.

Let me share my testing `chef.json` later today.

[2015-06-16 16:44] linc01n commented on #86
This is my chef.json in `Vagrantfile`

[code]

I use these to avoid download connection problem.

[2015-06-17 20:20] patcon commented on #84
Any objection to adding logic to the setenv.sh file to create a template correctly when 3.8+?

[2015-06-17 20:26] mrjcleaver commented on #84
Sounds good to me :)

[2015-06-18 02:50] #84 closed

[2015-06-18 14:20] linc01n commented on #86
I manage to somehow fix this issue.

inside `Vagrantfile` add this line

[code]

[2015-06-18 14:24] #86 closed

[2015-06-19 21:51] patcon opened #92 "umask warning when restarting (in vagrant ubuntu1404)"
[code]

Uncommenting the umask setting in `setenv.sh` as recommended seems to suppressed the error, but perhaps we should do it at user level?

[2015-06-19 21:55] patcon commented on #92
Yeah, seems the global value is set in login.defs, but that's rather presumptuous, so perhaps `setenv.sh` is the place. Thoughts?

[2015-06-20 03:20] linc01n commented on #92
Confirmed. The new `setenv.sh` is checking umask value while the previous version is missing this check.

[2015-06-20 03:25] #92 closed

[2015-06-20 03:57] patcon commented on #92
:+1: thanks!

[2015-06-20 04:03] linc01n commented on #92
Thanks for reporting :exclamation:

[2015-06-20 05:49] patcon commented on #85
Because of the wealth of config options for java, most cookbooks seem to leave it out and just document the need to add it. I would rather we did this rather than be opinionated about overrides

[2015-06-20 05:54] patcon opened #95 "Add SSH port forwarding from default SSH port"
Might this be an additional feature we might want to provide a recipe for?
https://confluence.atlassian.com/display/STASH/Setting+up+SSH+port+forwarding

[2015-06-23 20:05] patcon opened #96 "Update test-kitchen tests"
As I'm trying to add test-kitchen support with AWS and Travis, I'm finding a few things failing locally with docker, related to the mysql cookbook and the git cookbook.

As a sanity check before I go too far down this road, have you run these tests lately? Do you expect the test-kitchen suite to work?

EDIT: Also, seems default and apache2 suites are redundant, correct?

[2015-06-24 03:31] linc01n opened #97 "Need to upgrade the conf/web.xml for 3.10.0"
The xmlns has changed from `xmlns="http://xmlns.jcp.org/xml/ns/javaee"` to `xmlns="http://java.sun.com/xml/ns/javaee"`

Also the version changed from `3.0` to `3.1`

And a bunch of mime-mapping is missing.

[2015-06-24 14:02] linc01n commented on #96
I comment out my `.kitchen.yml` a bit. I usually test on centos only. Unless it is big release then I manually run `vagrant up` one by one.

I've just run the test. It passed without problems.

[code]

[2015-06-24 16:22] patcon commented on #96
Thanks! Can I ask whether you deleted your Berksfile.lock so that everything resolved as a fresh clone would?

Speaking of which, should we consider committing that? lockfiles shouldn't normally be committed, but I think that's because it would lock upstream deps too (ie with gems), but I don't think Berkshelf resolution takes lockfiles into account, so it's no loss in practice, except getting eve

[2015-06-24 16:42] patcon commented on #96
For example, getting this on db creation on ubuntu-1404 (I'm adding a postgresql test):
[code]

So seems perhaps the utf8 isn't the default template in postgresql 9.3.8?

[2015-06-24 17:22] patcon commented on #96
OK, so it seems that in the postgres db creation resource, the resource attributes need to be changed either so that 1) set "encoding" to  `DEFAULT` instead of `utf8`, or 2) set template to `template0`

[2015-06-24 19:44] patcon commented on #96
Thoughts on using `kitchen-docker` by default?

[2015-06-25 02:54] linc01n commented on #96
I think we need to push for version 4.0 and use postgres as default. It is strange you hit this problem. My production stash is using postgres as well but it setup nicely. Maybe it is because I commited the `Cheffile.lock` on my repo.

What's the benefit of using `kitchen-docker`? Can it parallelize the kitchen test? I hate running kitchen test one by one so I comment out those ubuntu test case.

[2015-06-25 07:42] patcon commented on #96
It can, be I didn't realize that was one of the benefits over vagrant. Docker is more lightweight than vbox. It can theoretically be faster than vagrant (even with vagrant-cachier), but needs a proxy like squid or polipo to see the real benefits. Also, docker works a bit less efficiently on non-debian systems like osx, as it still needs to boot a single VM to run all the containers in.

[2015-06-25 07:49] linc01n commented on #96
Yup. But it is good for running in CI server. Let me learn it and try to put that in.

[2015-06-25 13:47] patcon commented on #96
No pressure though. My current branch allows me to use docker with a `.kitchen.local.yml` with just

[code]

So long as you're cool with a little extra in the gemfile, etc

[2015-06-25 16:42] #97 closed

[2015-06-29 10:04] linc01n opened #100 "Move pid file to /var/run"
We should move the `/opt/atlassian/stash/work/catalina.pid` to `/var/run`

It is because we are symlinking `/opt/atlassian/stash` to the latest version of stash. Every time we run the chef script to upgrade stash, it will change the symlink target and failed the stash restart since the service can't find the pid.

So the situation is like this:

`/opt/atlassian/stash` -> `/opt/atlassian/stash-3.9.

[2015-06-29 10:09] legal90 commented on #100
:+1:

[2015-06-29 10:45] bflad commented on #100
:+1:

On Mon, Jun 29, 2015, 6:09 AM Mikhail Zholobov <notifications@github.com>
wrote:

[2015-06-29 10:56] l4u commented on #100
:+1:

[2015-07-05 02:04] patcon commented on #69
I think mysql2_chef_gem cookbook was just split out of the database cookbook, but that should be a pretty quick fix. Would be great to get to working with newer database cookbooks, as right now the very strict cookbook requirement is making berkshelf dependency resolution unhappy

[2015-07-05 02:05] patcon opened #103 "relax database cookbook version constraint"
I think we could do this pretty easily. Looking at the other issue, it seems the only problem was that when the database cookbook bumped major versions, it abstracted out a recipe (mysql2_chef_gem), and I think we could just add that back in

[2015-07-07 00:50] patcon commented on #100
I think this can be closed now?

[2015-07-07 00:58] patcon opened #104 "Remove apache2 test-kitchen suite"
As I understand it, it is redundant. Mind if I submit a PR to remove, @linc01n?

[2015-07-07 01:00] patcon opened #105 "Migrate to serverspec tests"
The current minitest chef_handler stuff seems to be out-of-vogue. Normally, this wouldn't really matter, but given that it required chef_gem resources and compile time activity (which is now considered something to be wary of and uses minimally), I think we'd do well to move to busser-serverspec.

I've got most of the work done on a branch, but haven't create a PR yet. If I submit a minimally intr

[2015-07-07 01:27] linc01n commented on #104
Sure ! Appreciated ! :+1: :smile:

[2015-07-07 01:28] linc01n commented on #100
I didn't merge to master. So I leave this open until `4.0` released.

[2015-07-07 01:32] patcon opened #106 "Need any new co-maintainers?"
No pressure. Just curious. I prefer to operate within a process where nothing gets merged until there's a +1 vote of confidence from a co-maintainer, so you wouldn't have to worry about me going overboard :)

(And fwiw, in case you're looking at my PR's and not liking them, I'll admit that I tend to be way more liberal with my PR's changes when I'm not the maintainer. When I am a maintainer, I fee

[2015-07-07 01:33] linc01n commented on #105
Yes... I think we should move to serverspec. Can you remove the minitest in your PR?
Thank you very much for all your contribution lately! :kissing_heart:

[2015-07-07 01:34] patcon commented on #100
Ah ok, gotcha :) I don't normally see cookbooks using release branches, and hadn't realized.

[2015-07-07 01:45] patcon commented on #105
haha no worries! I would encourage you to merge the other now, and I'll work off it and likely submit for tomorrow. It'll be a bit of change, and the other PR is pretty simple, so I'd love to see that get in first :)

[2015-07-07 02:02] linc01n commented on #106
I am thinking we need a process if we have more than 1 maintainer in this project. I like the +1 approach.

@bflad Would you mind adding one more maintainer to this project?

[2015-07-07 02:11] linc01n commented on #100
`4.0` will contain breaking changes so we put it into a separate branch now. Mainly this one

4.0.0 (When Released)
Enhancement: #49: Update default database to postgresql

I am not sure how not to break other people deployment with the new cookbook.

[2015-07-07 02:14] patcon commented on #100
One possibility might be to have complex logic in the cookbook until a major release (to support all use-cases), but then make it known (via chef run warnings, etc) that the attributes or approaches will be deprecated in X amount of time?

[2015-07-07 02:16] linc01n commented on #100
Maybe we check if the user installed mysql then use the mysql path?

[2015-07-07 02:18] patcon commented on #100
Hm. You mean check the run list?

I think the way I've seen is to do some sort of "responds_to?" ruby check on a resource, to check on a feature that would only exist in cookbook version X but not in cookbook version Y. (I don't think we can add conditional logic based on "what version of mysql cookbook is being used"... although I may be wrong)

[2015-07-07 02:20] patcon commented on #100
Example: http://jtimberman.housepub.org/blog/2015/03/20/chef-gem-compile-time-compatibility/

[2015-07-07 02:56] patcon opened #107 "Add postgresql test suite"
I've got this in another branch too, and I can push it after we merge https://github.com/bflad/chef-stash/pull/105

Woo!

[2015-07-07 02:57] patcon commented on #96
Closing in favour of https://github.com/bflad/chef-stash/issues/107

[2015-07-07 02:57] #96 closed

[2015-07-07 03:05] patcon opened #108 "Run test-kitchen suites on AWS via Travis"
https://github.com/mission-impossible-android/chef-cm-update-server/blob/master/.travis.yml

I would basically set it up like I've done here, and then we could get tests running on master all the time for all platforms, and not worry about ever running locally just to know if things broke

And my client, @mrjcleaver of Blended Perspectives, has agreed to sponsor the small amount of AWS time we'll

[2015-07-07 06:19] patcon opened #109 "Investigate infrataster for testing http responses after setup"
Not sure whether it's right for us, but with looking into, since serverspec just lets us check whether ports are listening, but no concise way to check responses

https://medium.com/@KitaitiMakoto/instead-of-serverspec-use-infrataster-to-test-http-and-sql-results-aba6d59830f1
https://github.com/ryotarai/infrataster/issues/37#issuecomment-76675016

[2015-07-07 06:30] linc01n commented on #109
Would it take too long for the test? you know java takes forever to start.

[2015-07-07 06:41] patcon commented on #108
Hm. Maybe kitchen-digitalocean would be better. From our end, seems cheaper, and then we don't need to manage 2 AWS accounts in order to keep things clean and separate from our other running instances...
https://www.digitalocean.com/pricing/

Thoughts @mrjcleaver?

[2015-07-07 06:43] patcon commented on #109
Probably right. I think it takes like 3 minutes to start in my VM's... but I suppose just testing for that loading screen might be good enough to know things are working out. But maybe that's not worth adding a dependency over... heh

[2015-07-07 11:04] mrjcleaver commented on #108
How much would the code need to change to use kitchen-digitalocean instead of aws (is it just 1 line in a config file?) Digital Ocean does charge to keep a switched-off image, can you confirm we'd be destroying?

[2015-07-07 14:06] patcon commented on #108
This seems to indicate positively on the hourly billing:
https://www.digitalocean.com/help/pricing-and-billing/

And this is all the AWS-specific stuff needed: https://github.com/mission-impossible-android/chef-cm-update-server/blob/master/.kitchen.travis.yml

Would be less for DigitalOcean, as there's no complexity in availability zones or ami ids

[2015-07-07 19:08] patcon commented on #49
+1

[2015-07-07 19:12] patcon commented on #58
Could this be closed in favour of https://github.com/bflad/chef-stash/pull/103?

[2015-07-08 03:41] linc01n commented on #58
Merged #103

[2015-07-08 03:41] #58 closed

[2015-07-08 03:48] linc01n commented on #100
Merged!

[2015-07-08 03:48] #100 closed

[2015-07-09 02:57] linc01n opened #111 "Cannot install mysql-client 5.6 on Ubuntu 12.04"
For ubuntu 12.04 LTS, the `kitchen test` failed because it cannot install mysql client 5.6.

http://packages.ubuntu.com/search?keywords=mysql-client

/cc @patcon

[2015-07-09 04:14] patcon commented on #111
Hm. 5.5 has more support and might be more widely available, if we want the simplest solution (ie not changing mysql version between platforms)

- https://confluence.atlassian.com/display/STASH/Supported+platforms
- https://github.com/chef-cookbooks/mysql/blob/master/.kitchen.yml#L157

[2015-07-09 04:16] patcon commented on #111
Made the above change and runs clean on:

- [ ] mysql-centos-6
- [ ] mysql-centos-7
- [x] mysql-ubuntu-1204
- [ ] mysql-ubuntu-1404

[2015-07-09 04:19] linc01n commented on #111
Do we need to specify the version here? https://github.com/bflad/chef-stash/blob/master/recipes/database.rb#L11

I don't think we should handle the mysql version ourself. Let the mysql cookbook handles it.

[2015-07-09 04:29] patcon commented on #111
The mysql2_chef_gem isn't aware of the mysql cookbook's preferences, so it needs to be piped in there so that the mysql2_chef_gem resource installs the correct mysql-client package that gem is linked against (I believe).

We could totally ignore the mysql_client and mysql_service version, but since mysql service version is now a resource attr, we need to allow the user the ability to set it *somew

[2015-07-09 04:35] patcon commented on #111
Haven't tested the above commit that reflects that comment.

Not that the platforms highlighted in this link (should we choose to add them later), will def be broken because 5.0 and 5.1 are not supported:
https://github.com/chef-cookbooks/mysql/blob/v6.0.26/libraries/helpers.rb#L414-L417

[2015-07-09 04:38] patcon commented on #111
But having just submitted that commit above, I'm actually inclined to use the first approach of just hardcoding 5.5, as that's what stash supports (along with 5.6.16+). If and when that approach breaks, we could then do some `settings` hash magic (like we do for database port) to select the right database version.

[2015-07-09 07:49] #111 closed

[2015-07-09 18:40] patcon commented on #111
:+1: :)

[2015-07-09 20:26] patcon commented on #106
Hey @bflad, I think I'm going to need push access in order to get #108 working, if you have a sec to consider

[2015-07-12 02:37] bflad commented on #106
I have granted @patcon push access just now. Thank you both!

[2015-07-12 02:37] #106 closed

[2015-07-12 03:07] bflad commented on #109
It's an interesting idea. When I was testing Stash via just Vagrant, I always went through the whole initial setup flow for each OS to ensure it was actually setting up everything correctly so that Stash was completely usable. However from my observations in the past, I'd say you're probably okay with just testing the port since I'm sure the initial workflow will change over time as the product ch

[2015-07-12 03:18] bflad commented on #109
Now, that said, we have issues testing today like #99 and the LWRPs in general. Personally I'd feel more comfortable changing the LWRPs with tests added when there's a fully setup and running Stash instance for which we can send API requests.

[2015-07-12 04:03] bflad commented on #95
On one hand, I think this is reasonable as long as haproxy not a hard dependency. e.g. New proxy recipe can exist and be tested (maybe controllable by attribute for default recipe) and extra feature is documented in the README. You can run into trouble like we did with the docker cookbook for all these extra dependencies if they're required.

On the other hand, while it might be nice to offer some

[2015-07-12 04:18] bflad commented on #95
And to complicate matters further, you can do SSH proxy things like this in Apache:
http://mark.koli.ch/configuring-apache-to-support-ssh-through-an-http-web-proxy-with-proxytunnel

Who's to say which frontend you should use or how complicated the setup can get? Not sure if in this cookbook or my Confluence one, but folks definitely asked about using (and natively supporting in the cookbook) Nginx

[2015-07-12 04:25] bflad commented on #85
Ideologically I'm in agreement with @patcon on this fortunately or unfortunately. While our testing framework will provide its own defaults to be usable in enough capacity to run the tests, I don't think we should dictate or want to wrap the Java configuration for everyone's environment. If we were to go down that route though, I'd suggest something like a "manage_java" attribute, separate java re

[2015-07-12 05:18] patcon commented on #106
Thanks a bunch!

[2015-10-08 11:47] ramonskie opened #117 "make create directory recursive"
when you can provide the path
for example
``
default[:stash][:backup_client][:backup_path] = '/tmp/backups/stash-backup/'
``
then you should be able to do this this is now not possible
because the recursive options is not set
https://github.com/bflad/chef-stash/blob/master/recipes/backup_client.rb#L31

[2015-10-08 15:31] linc01n commented on #117
Thanks @ramonskie

I think the recursive flag is never set to `true`

Going to add that in.

[2015-10-08 16:36] #117 closed

[2015-10-13 13:31] ramonskie opened #120 "add ssl-vault"
i think most of the community now uses chef-vault to store there certificates
and it would be nice to use ssl-vault for this
https://github.com/onbeep-cookbooks/ssl-vault

its relatively easy do add this

include the ssl-vault cookbook
and set the attribute

default[:'ssl-vault'][:certificates] = ['YOURDATABAGNAME']

[2015-10-13 14:24] ramonskie commented on #120
if anyone is interested i can make a pull-request and add some documentation of how to

[2015-10-14 10:34] ramonskie commented on #109
infratester does not have any test-kitchen intergration
so when you set this up you need to have static ips

[2015-11-05 09:48] ramonskie opened #123 "preparing 4.0.0 release still in progress any eta on this?"
there is still teh notification of
[code]
i was wondering if you have any eta for this or do you need any help?

[2015-11-11 16:49] linc01n commented on #123
Hi @ramonskie ,
I just moved to a new country in Aug. So I didn't have much time for the project.
Now I'm almost settled and I'm starting to work on the project again.

I'm running different kind of test on the project. Since our 4.0 release will change the default database to postgres, I'm testing different upgrade scenarios.

And at the same time Atlassian rename the project to bitbucket which c

[2015-11-12 10:32] ramonskie commented on #123
i have not seen such issue
and i think you should not handle the migration from mysql to postgres in this cookbook
i think users should do this by just doing a export/import or use the database migration wizard
https://confluence.atlassian.com/bitbucketserver/connecting-bitbucket-server-to-an-external-database-776640378.html

[2015-11-12 12:03] linc01n commented on #123
I am not handling the migration.
It is both postresql. The db data is fine. I still have the login and project key. I just lost the git repositories.

[2015-11-13 12:49] ramonskie commented on #123
what are the steps you have taken for the upgrade?
because i don't see this behavior

[2015-11-17 13:14] ramonskie commented on #123
i have created a dirty hack for now
do not know it this is a pull request worthy

configuration.rb
[code]

[2015-12-04 12:24] ramonskie commented on #123
bump

[2015-12-06 05:44] linc01n commented on #123
hi @ramonskie

I would prefer https://github.com/linc01n/chef-stash/commit/14370fa2b0763cd165a8dd87a41e7994e53a927b

what do you think?

[2015-12-06 09:21] ramonskie commented on #123
Yes that's much better didn't thought about that one

[2015-12-06 16:27] linc01n commented on #123
@ramonskie `4.0.0` finally released! :tada:

[2015-12-06 16:27] #123 closed

[2015-12-07 08:49] ramonskie commented on #123
:+1:

[2015-12-08 01:41] linc01n commented on #123
Please report bug if you see any problems. Thanks

[2016-02-04 15:08] legal90 commented on #63
I think this request could be closed, because DIY backup is already implemented (#68)

[2016-02-04 15:12] legal90 commented on #49
It was done in https://github.com/bflad/chef-stash/pull/128. So, the request could be closed (cc: @linc01n )

[2016-02-04 15:28] linc01n commented on #49
Yes. Starting from `4.0.0`, the default database is set to postgreSQL

[2016-02-04 15:28] #49 closed

[2016-02-04 15:29] linc01n commented on #63
Closing now

[2016-02-04 15:29] #63 closed

[2016-02-15 03:27] linc01n opened #141 "Serverspec fails on CentOS 7"
I'm guessing it is a systemd problem.

[2016-02-15 15:29] linc01n commented on #141
Confirmed it is related to this line
https://github.com/bflad/chef-stash/blob/a68c05645192e3e67b9ed0fa4ac709521849069a/.kitchen.yml#L4

If we remove version pinning then run `kitchen test mysql-centos-71` will throw the above error.

[2016-02-24 07:28] linc01n opened #143 "Cannot use bitbucket since the config namespace is wrong"
Need to update  `backup-config.properties` from `stash` to `bitbucket`

[2016-02-24 07:33] linc01n commented on #143
https://confluence.atlassian.com/bitbucketserver/using-the-bitbucket-server-backup-client-776640064.html#UsingtheBitbucketServerBackupClient-BackingupBitbucketServerusingtheclient

[2016-02-24 15:20] #143 closed

[2016-05-12 12:29] atikhono opened #153 "Support Bitbucket 4.6"
Hi,

Bitbucket 4.6. has been released and finally code search is here!
Also includes some useful feature like personalised timezones, blame in diifs, etc.
More in release notes: https://confluence.atlassian.com/bitbucketserver/bitbucket-server-4-6-release-notes-827109988.html.

Please add Bitbucket 4.6 to the cookbook.

[2016-05-14 03:04] linc01n commented on #153
Oh! nice! and last modified date of file finally bake into the file browser. Let me work on this now!

[2016-05-14 05:45] linc01n commented on #153
Updated in #154

[2016-05-14 05:45] #153 closed

[2016-05-14 07:00] linc01n opened #156 "Code search is not working in 4.6.0"
There are 2 new export variable scripts in `4.6.0`
`bin/set-bitbucket-home.sh` and `bin/set-bitbucket-user.sh`

[2016-05-14 07:44] linc01n commented on #156
Beside this, there is a new proxy rule for apache reverse proxy. And default elasticsearch username and password need to add.

[2016-05-14 08:00] linc01n commented on #156
I have a question about this part:
<img width="807" alt="screen shot 2016-05-14 at 3 58 05 pm" src="https://cloud.githubusercontent.com/assets/667272/15267173/b2f39ce2-19ec-11e6-985d-6e5d02afc6e6.png">

Should I set the username and password in `bitbucket.properties` ?
Or let the user input them?

/cc @bflad @legal90

[2016-05-16 12:43] legal90 commented on #156
@linc01n I would leave the built-in Elasticsearch instance by default.
It's nice to have a possibility to configure an external instance, but it should be optional, IMO.

[2016-05-30 18:51] atikhono commented on #156
@linc01n You don't need to add credentials for the bundled elasticsearch instance. Please review my pull request for set-bitbucket-home/user.sh #157

[2016-05-31 00:42] #156 closed

[2016-06-02 18:36] peterbaumgarten opened #159 "Allow SSL from the application to the database"
Allow an option to append options to the end of the jdbc url for things like an SSL connection to a postgresql database.
[code]

https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_PostgreSQL.html#PostgreSQL.Concepts.General.SSL

https://www.postgresql.org/docs/9.4/static/libpq-ssl.html

[2016-06-08 21:02] peterbaumgarten opened #160 "kitchen verify fails"
When I run kitchen verify I get this error

[code]

[2016-06-10 06:12] linc01n commented on #160
This is related to #141

[2016-06-11 22:13] peterbaumgarten commented on #159
There is a pull request for this feature #161

[2016-06-27 15:40] chazzly opened #164 "Compatability.md is severely out of date."
Latest is version supported looks to be 4.6.2, but this doc only shows 2.x.

As I'm looking at this cookbook for the first time, this info would be extremely useful.   If it's too much to keep update, it should probably just be removed.

Thanks

[2016-08-09 21:07] katbyte opened #167 "Changes to version attribute not reflected in url or checksum."
When changing the version attribute from a calling cookbook after attributes/default.rb has been parsed, the install url & checksum do not reflect the change.

[2016-09-23 18:47] #159 closed

[2017-05-02 15:17] cloneluke opened #178 "is this file /templates/default/web_app.conf.erb used any longer"
I find no reference to it anywhere in this repo

[2017-06-08 14:45] jtusz opened #181 "Incompatibility with Bitbucket 5"
The current version of this cookbook is incompatible with Bitbucket 5.0 and newer. The last supported version is 4.8.3.

There are some changes within Bitbucket causing problems (e.g. some configuration options are moved from server.xml to bitbucket.properties).
[Bitbucket 5 release notes](https://confluence.atlassian.com/bitbucketserver/bitbucket-server-5-0-release-notes-889528342.html)
[Migratin

[2017-06-14 11:43] #164 closed

[2017-06-14 12:52] #167 closed

[2017-06-16 13:30] cloneluke commented on #181
I did test the recipe with 4.14.5 (the latest 4.x release of bitbucket) and it does work with that. but yes you are right, it doesnt work with with 5.x mostly because of this:

https://confluence.atlassian.com/bitbucketserver/bitbucket-server-5-0-release-notes-889528342.html

![image](https://user-images.githubusercontent.com/6568361/27228633-0e59cd8a-526e-11e7-83dd-9f0eacf059c5.png)

[2017-06-16 13:35] cloneluke commented on #85
berksfile:
cookbook 'java'

recipe:
# need to do java install, it was assumed in supermarket cookbook
node.default['java']['jdk_version'] = '8'
ENV['JAVA_HOME'] = '/usr/lib/jvm/java-8-openjdk-amd64'
include_recipe 'java::default'

[2017-07-25 21:33] #178 closed

[2017-07-25 21:35] cloneluke commented on #178
found reference here so closing

https://github.com/bflad/chef-stash/blob/master/recipes/apache2.rb#L23

[2017-07-25 21:40] cloneluke opened #187 "apache2 ['apache']['version'] which is used in web_app.conf.erb"
this line

https://github.com/bflad/chef-stash/blob/master/templates/default/web_app.conf.erb#L44

uses the version attribute from

https://github.com/sous-chefs/apache2/blob/master/attributes/default.rb

this commit:

https://github.com/sous-chefs/apache2/commit/f8e070cf89122959f297ed6a7cfaa7841b182dd3#diff-25e5d4a4446ae12a0d6f1162b6160375L31

to apache2 cookbook (v5.0.0) deprecated that attribut

[2017-07-25 21:41] cloneluke commented on #187
also should version pin to a particular version of apache2 cookbook (3.3.0)

[2017-07-31 07:29] linc01n commented on #187
I got the same bug.

Since apache2 cookbook only supports 2.4 apache. CentOS 6 is having issue running the latest cookbook.

[2017-09-28 14:55] #181 closed

[2018-04-14 00:57] katbyte commented on #160
This has probably been fixed and can be closed as the chef omnibus version is now 12.19 on master @linc01n @peterbaumgarten.

[2018-04-16 03:27] linc01n commented on #160
Thanks @katbyte closing this

[2018-04-16 03:27] #160 closed

[2018-04-16 04:09] peterbaumgarten commented on #160
Thanks everyone. I completely forgot about this.

[2019-05-25 23:20] djessich opened #193 "Chef 14 recipe compile error"
During converge of this cookbook with Chef 14, the Chef Client fails with the following compile error.

[code]

[2021-02-10 22:32] djessich commented on #193
Close. Chef 14 is EOF.

[2021-02-10 22:32] #193 closed, assigned to nobody